@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 100vh;           /* We need this for nice looking websites :D */
  font-family: "Google Sans"
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #2B2B2B;
    color: white;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  button {
    padding: 0.75em 1.5em;
    all: unset;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
  }
}
@media (prefers-color-scheme: light) {
  button {
    padding: 0.75em 1.5em;
    all: unset;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  code {
    border-radius: 10px;
    font-family: "Roboto Mono";
    background-color: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  code {
    border-radius: 10px;
    font-family: "Roboto Mono";
    background-color: black;
    color: white;
  }
}
