/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Body styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Google Sans", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2B2B2B;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

/* Buttons */
@media (prefers-color-scheme: dark) {
  button {
    all: unset;
    padding: 1em 2em;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 12px;
    background-color: white;
    color: black;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: light) {
  button {
    all: unset;
    padding: 1em 2em;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 12px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
}

/* HR styling */
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  width: 100%;
}

/* Inline code blocks */
@media (prefers-color-scheme: dark) {
  code {
    all: unset;
    display: inline-block;
    padding: 0.35em 0.6em;
    font-size: 0.95rem;
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
    background-color: white;
    color: black;
  }
}

@media (prefers-color-scheme: light) {
  code {
    all: unset;
    display: inline-block;
    padding: 0.35em 0.6em;
    font-size: 0.95rem;
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
    background-color: black;
    color: white;
  }
}
@media (prefers-color-scheme: dark) {
  input {
    all: unset;
    display: inline-block;
    padding: 0.35em 0.6em;
    font-size: 0.95rem;
    border-radius: 10px;
    background-color: white;
    color: black;
  }
}

@media (prefers-color-scheme: light) {
  input {
    all: unset;
    display: inline-block;
    padding: 0.35em 0.6em;
    font-size: 0.95rem;
    border-radius: 10px;
    background-color: black;
    color: white;
  }
}
@media (prefers-color-scheme: dark) {
  a {
    all: unset;
    display: inline-block;
    padding: 0.35em 0.6em;
    font-size: 0.95rem;
    color: black;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: light) {
  a {
    all: unset;
    display: inline-block;
    padding: 0.35em 0.6em;
    font-size: 0.95rem;
    color: white;
    cursor: pointer;
  }
}
